
@{
	ViewBag.Title = "CurrentLocationView";
}


@model Ex3.Models.DisplayCurrentPointModel

	<html>
	
	<head>
		<title>Display Current Location</title>
		<p hidden id="xLocation">@this.Model.X</p>
		<p hidden id="yLocation">@this.Model.Y</p>

	</head>
		<body>
			<img id="backgroundMap" src="~/Content/map.png" width="0" height="0"/>
			<canvas id="mainCanvas"></canvas>
			<script src="~/Scripts/currentPoint.js"></script>

		</body>
	</html >